.bottom-menu.white-footer
  .container
    .row
      .col-md-2
        = link_to "Lenderrr", root_path, class: 'bottomLogo'
      .col-md-8
        %ul.bottom-links.padding-links
          %li
            = link_to "About", "#", "data-easing" => "easeOutQuint", "data-scroll" => "", "data-speed" => "2000", "data-url" => "true"
          %li
            = link_to "Privacy Policy", "#", "data-easing" => "easeOutQuint", "data-scroll" => "", "data-speed" => "2000", "data-url" => "true"
          %li
            = link_to "Terms of Services", "#", "data-easing" => "easeOutQuint", "data-scroll" => "", "data-speed" => "2000", "data-url" => "true"
          %li
            = link_to "Listing an Item", "#", "data-easing" => "easeOutQuint", "data-scroll" => "", "data-speed" => "2000", "data-url" => "true"
          %li
            = link_to "Protection", "#", "data-easing" => "easeOutQuint", "data-scroll" => "", "data-speed" => "2000", "data-url" => "true"
          %li
            = link_to "Contact", "#", "data-easing" => "easeOutQuint", "data-scroll" => "", "data-speed" => "2000", "data-url" => "true"
      .col-md-2
        %ul.bottom-icons.padding-links
          %li
            %a.fui-pinterest{href: "index2.html#fakelink"}
          %li
            %a.fui-facebook{href: "index2.html#fakelink"}
          %li
            %a.fui-twitter{href: "index2.html#fakelink"}