!!!
%html
  %head
    %title Tes
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav#sticker.navbar.navbar-default.navbar-static-top.navbar-lg{:role => "navigation"}
      .container
        .navbar-header.centerMrgn
          %button.navbar-toggle{"data-target" => "#navbar-collapse-01", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
          = link_to image_tag('slider/headerlogo.png'), class: 'navbar-brand', "#"

        #navbar-collapse-01.collapse.navbar-collapse
          - if user_signed_in?
            %ul.nav.navbar-nav.navbar-right
              %li
                %a{"data-easing" => "easeOutQuint", "data-scroll" => "", "data-speed" => "2000", "data-toggle" => "dropdown", "data-url" => "true", :href => "index2.html#"}
                  Users Name
                  %span.caret
                %span.dropdown-arrow
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} List Item
                  %li
                    %a{:href => "#"} Inbox
                  %li
                    %a{:href => "index2.html"} My Items
                  %li
                    %a{:href => "index3.html"} My Account
                  %li
                    = link_to "Sign Out", destroy_user_session_path, method: :delete

    = yield